@media screen and (min-width: 480px) {
  .text-right {
    height: 100%;
    background: #3b3b3b;
    color: white;
    padding: 20px;
    overflow: scroll;
  }
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.fb {
  max-height: 48px;
  width: 46px;
  background-color:#3b3b3b;
  color: white;
  padding: 16px;
  font-size: 19px;
  border: none;
  cursor: pointer;
  outline: 0;
  border-radius: 5px;
  position: absolute;
  left: 10px;
  top: 60px;
  text-align: center;
  line-height: 18px;
}

.fb:hover {
  max-height: 48px;
  width: 46px;
  background-color:#3B5998;
  color: white;
  padding: 16px;
  font-size: 19px;
  border: none;
  cursor: pointer;
  outline: 0;
  border-radius: 5px;
  position: absolute;
  left: 10px;
  top: 60px;
  text-align: center;
  line-height: 18px;
}